@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary: #333;
    --secondary: #333;
    --errorColor: red;
    --stepNumber: 6;
    --containerWidth: 600px;
    --bgColor: #333;
    --inputBorderColor: lightgray;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--bgColor);
}
::selection {
    color: #fff;
    background: var(--primary);
}
.container {
    width: var(--containerWidth);
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 80px 65px 40px 65px;
}
.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.container .form-outer {
    width: 100%;
    overflow: hidden;
}
/* .container .form-outer form {
    display: flex;
    width: calc(105% * var(--stepNumber));
} */
/* .form-outer form .page {
    width: calc(100% / var(--stepNumber));
    transition: margin-left 0.3s ease-in-out;
} */
.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.form-outer form .page .field {
    width: var(--containerWidth);
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}

form .page .field input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    padding-left: 15px;
    margin: 0 1px;
    font-size: 18px;
    transition: border-color 150ms ease;
}
form .page .field input.invalid-input {
    border-color: var(--errorColor);
}
form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--secondary);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
form .page .field button:hover {
    background: #000;
}
form .page .btns button {
    margin-top: -20px !important;
}
form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next {
    margin-left: 3px;
}
.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}
.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}
.container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}
.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.progress-bar .step .bullet.active {
    border-color: var(--primary);
    background: var(--primary);
}
.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
    display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: "";
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}
.progress-bar .step .bullet.active:after {
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}
.progress-bar .step p.active {
    color: var(--primary);
    transition: 0.2s linear;
}
.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

@media screen and (max-width: 660px) {
    :root {
        --containerWidth: 400px;
    }
    .progress-bar .step p {
        display: none;
    }
    .progress-bar .step .bullet::after,
    .progress-bar .step .bullet::before {
        display: none;
    }
    .progress-bar .step .bullet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .progress-bar .step .check {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        display: none;
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 490px) {
    :root {
        --containerWidth: 100%;
    }
    .container {
        box-sizing: border-box;
        border-radius: 0;
    }
}

.buttonv{
    width: 100px;
    height: calc(100% + 5px);
    border: none;
    background: #e3e0e0;
    margin-top: -830px;
    margin-right: 5px;
    border-radius: 5px;
    color: #181818;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}





.progress-bar .step .bullet{
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
  }
  .progress-bar .step .bullet.active{
    border-color: #6c63ff;
    background: #6c63ff;
  }
  .progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .progress-bar .step .bullet.active span{
    display: none;
  }
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 50px;
    background: #262626;
  }
  .progress-bar .step .bullet.active:after{
    background: #6c63ff;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .progress-bar .step:last-child .bullet:before,
  .progress-bar .step:last-child .bullet:after{
    display: none;
  }
  .progress-bar .step p.active{
    color: #6c63ff;
    transition: 0.2s linear;
  }
  .progress-bar .step .check{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }
  .progress-bar .step .check.active{
    display: block;
    color: #fff;
  }



  .simnao{
    margin: 7px;
  }
  
  .box{
    width: var(--containerWidth);
    height: 45px;
    margin: 20px 0;
    display: flex;
    position: relative;
  }

  .lado{
    left: 305px;
  }

  .progress-bar .step .bullet:before, .progress-bar .step .bullet:after {
    right: -63px;
    width: 50px;
}



.password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: relative;
    
    right: -280px;
    top: -5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
    
  .buttonp{
    width: 50px;
    height: calc(100% + 5px);
    border: none;
    background: #e3e0e0;
    margin-top: -830px;
    margin-right: 5px;
    border-radius: 5px;
    color: #181818;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }
  
 
.container header {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.extrato-container,
.form-outer {
    width: var(--containerWidth);
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.field label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.field input[type="number"],
.field select,
.field textarea {
    width: 100%;
    height: 40px;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    transition: border-color 150ms ease;
}

.field textarea {
    height: 80px;
    resize: vertical;
}

.field button.submit {
    background-color: var(--secondary);
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.field button.submit:hover {
    background-color: #000;
}

.extrato-container {
    margin-top: 20px;
}

#extratoList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#extratoList li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.field {
    margin-bottom: 20px;
}

.field label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.field input[type="text"],
.field button.submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    margin-bottom: 10px;
}

.field input[type="text"] {
    transition: border-color 150ms ease;
}

.field button.submit {
    background-color: var(--secondary);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.field button.submit:hover {
    background-color: #000;
}

.extrato-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#extratoList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#extratoList li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.field label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.field input[type="text"],
.field input[type="number"],
.field textarea,
.field button.submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    margin-bottom: 15px;
}

.field textarea {
    resize: vertical;
}

.field button.submit {
    background-color: var(--secondary);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.field button.submit:hover {
    background-color: #000;
}

.vantagens-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.vantagem-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.vantagem-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.vantagem-item p {
    margin: 5px 0;
    color: #666;
    font-size: 16px;
}

.vantagem-item .vantagem-img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

